@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@import '~/assets/style/variables.styl';
@import '~/assets/sass/type.scss';

.application {
	&.theme--light {
		background: white !important;
	}
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'Nova Mono' !important;
	font-size: 44px;
}

p {
	font-size: 20px;
}

.app_nav {
	background: #c33764;
	background: -webkit-linear-gradient(to right, #1d2671, #c33764);
	background: linear-gradient(to right, #1d2671, #c33764);
}
.gradient_bg {
	background: rgb(29, 38, 113);
	background: -moz-linear-gradient(
		45deg,
		rgba(29, 38, 113, 0.85) 0%,
		rgba(28, 110, 164, 0.85) 0%,
		rgba(195, 55, 100, 0.85) 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		rgba(29, 38, 113, 0.85) 0%,
		rgba(28, 110, 164, 0.85) 0%,
		rgba(195, 55, 100, 0.85) 100%
	);
	background: linear-gradient(
		45deg,
		rgba(29, 38, 113, 0.85) 0%,
		rgba(28, 110, 164, 0.85) 0%,
		rgba(195, 55, 100, 0.85) 100%
	);
}
